In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'G:\Delievery.csv')
matches= pd.read_csv(r'G:\Matches.csv')

In [3]:
df

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [4]:
matches.head()
matches['method'].unique()

array([nan, 'D/L'], dtype=object)

In [5]:
df.shape

(193468, 18)

In [6]:
matches.shape

(816, 17)

In [7]:
fil_df=df[df['inning']==2]

In [8]:
fil_df

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
121,335982,2,6,2,CL White,MV Boucher,AB Agarkar,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
122,335982,2,6,3,CL White,MV Boucher,AB Agarkar,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
123,335982,2,6,4,MV Boucher,CL White,AB Agarkar,0,1,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
124,335982,2,6,5,MV Boucher,CL White,AB Agarkar,0,1,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
125,335982,2,6,6,MV Boucher,CL White,AB Agarkar,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,2,17,6,HH Pandya,Ishan Kishan,K Rabada,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193373,1237181,2,18,1,HH Pandya,Ishan Kishan,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193374,1237181,2,18,2,Ishan Kishan,HH Pandya,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193375,1237181,2,18,3,HH Pandya,Ishan Kishan,A Nortje,0,0,0,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals
193376,1237181,2,18,4,KH Pandya,Ishan Kishan,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

In [9]:
sorted_df = df.sort_values(by=['id', 'inning'])
runs=0
id=sorted_df['id'][0]
inn1_score=[]
for i in range(len(sorted_df)):
    if(id==sorted_df['id'][i] and sorted_df['inning'][i]==1):
        runs+=sorted_df['total_runs'][i]
    elif(id==sorted_df['id'][i] and sorted_df['inning'][i]==2):
        continue
    else:
        inn1_score.append(runs)
        runs=0
        id=sorted_df['id'][i]

In [10]:
inn1_score

[222,
 240,
 129,
 161,
 110,
 166,
 141,
 207,
 214,
 181,
 135,
 145,
 153,
 158,
 178,
 137,
 191,
 163,
 195,
 169,
 164,
 177,
 162,
 109,
 126,
 144,
 102,
 183,
 129,
 140,
 122,
 177,
 198,
 156,
 143,
 133,
 156,
 221,
 194,
 67,
 118,
 196,
 178,
 148,
 154,
 147,
 189,
 125,
 175,
 176,
 210,
 156,
 173,
 141,
 147,
 192,
 112,
 163,
 164,
 132,
 103,
 101,
 178,
 154,
 184,
 189,
 150,
 168,
 168,
 148,
 139,
 165,
 186,
 137,
 139,
 115,
 148,
 164,
 148,
 145,
 141,
 163,
 153,
 149,
 178,
 211,
 154,
 145,
 105,
 185,
 116,
 168,
 140,
 157,
 123,
 160,
 172,
 119,
 172,
 129,
 145,
 120,
 147,
 160,
 134,
 148,
 188,
 134,
 100,
 116,
 164,
 170,
 153,
 144,
 143,
 161,
 211,
 142,
 135,
 189,
 141,
 203,
 163,
 214,
 92,
 181,
 170,
 168,
 150,
 171,
 136,
 151,
 165,
 183,
 180,
 147,
 183,
 181,
 177,
 172,
 177,
 162,
 161,
 188,
 177,
 181,
 245,
 178,
 200,
 184,
 159,
 165,
 149,
 180,
 184,
 154,
 138,
 160,
 111,
 168,
 151,
 179,
 139,
 129,
 112,
 174,
 191,
 128,
 192,
 145,
 133,
 183,
 142,
 78,
 168,
 152,
 137,
 161,
 95,
 111,
 163,
 151,
 134,
 188,
 148,
 175,
 159,
 182,
 183,
 164,
 187,
 81,
 131,
 168,
 118,
 132,
 195,
 164,
 170,
 230,
 171,
 109,
 142,
 160,
 141,
 129,
 148,
 92,
 181,
 157,
 119,
 143,
 165,
 158,
 139,
 169,
 146,
 160,
 156,
 175,
 205,
 114,
 178,
 125,
 119,
 195,
 136,
 163,
 145,
 175,
 177,
 88,
 135,
 169,
 97,
 136,
 232,
 151,
 118,
 132,
 198,
 55,
 128,
 175,
 174,
 146,
 185,
 205,
 112,
 97,
 129,
 191,
 157,
 193,
 164,
 165,
 137,
 165,
 110,
 196,
 205,
 114,
 131,
 157,
 154,
 133,
 195,
 92,
 196,
 182,
 123,
 187,
 163,
 159,
 146,
 192,
 163,
 126,
 189,
 146,
 168,
 177,
 207,
 156,
 190,
 148,
 100,
 139,
 186,
 141,
 157,
 120,
 160,
 150,
 177,
 173,
 180,
 153,
 125,
 170,
 141,
 126,
 172,
 182,
 112,
 170,
 186,
 167,
 158,
 136,
 138,
 120,
 211,
 126,
 141,
 136,
 132,
 162,
 158,
 187,
 218,
 190,
 128,
 156,
 125,
 165,
 148,
 99,
 130,
 140,
 207,
 138,
 154,
 145,
 114,
 182,
 164,
 180,
 123,
 158,
 157,
 151,
 118,
 179,
 168,
 123,
 115,
 117,
 161,
 184,
 185,
 257,
 171,
 155,
 159,
 148,
 144,
 194,
 200,
 163,
 171,
 174,
 160,
 128,
 136,
 186,
 185,
 131,
 80,
 170,
 139,
 178,
 161,
 154,
 169,
 223,
 145,
 152,
 183,
 111,
 150,
 115,
 140,
 120,
 178,
 169,
 168,
 166,
 190,
 134,
 183,
 172,
 106,
 130,
 192,
 131,
 165,
 142,
 163,
 145,
 204,
 133,
 114,
 166,
 191,
 177,
 193,
 140,
 150,
 184,
 141,
 70,
 132,
 125,
 145,
 120,
 148,
 168,
 144,
 168,
 152,
 155,
 166,
 178,
 187,
 156,
 231,
 134,
 198,
 143,
 157,
 149,
 190,
 157,
 147,
 186,
 205,
 140,
 201,
 138,
 141,
 178,
 164,
 156,
 154,
 156,
 194,
 185,
 172,
 179,
 154,
 160,
 115,
 188,
 163,
 173,
 225,
 198,
 168,
 150,
 158,
 209,
 176,
 183,
 177,
 165,
 163,
 165,
 165,
 123,
 183,
 166,
 155,
 156,
 209,
 146,
 187,
 175,
 181,
 190,
 130,
 157,
 192,
 95,
 150,
 171,
 200,
 134,
 114,
 187,
 111,
 188,
 172,
 189,
 147,
 167,
 151,
 226,
 201,
 158,
 179,
 162,
 235,
 157,
 185,
 119,
 105,
 171,
 134,
 130,
 198,
 186,
 112,
 187,
 180,
 138,
 202,
 121,
 98,
 161,
 226,
 187,
 162,
 111,
 140,
 143,
 152,
 191,
 140,
 135,
 170,
 135,
 185,
 164,
 142,
 180,
 160,
 189,
 118,
 171,
 173,
 195,
 186,
 193,
 154,
 153,
 184,
 149,
 163,
 162,
 126,
 187,
 181,
 177,
 156,
 175,
 137,
 151,
 146,
 120,
 248,
 103,
 179,
 206,
 183,
 121,
 211,
 124,
 158,
 172,
 172,
 169,
 137,
 158,
 162,
 158,
 204,
 206,
 183,
 183,
 162,
 151,
 135,
 177,
 148,
 205,
 158,
 170,
 142,
 170,
 172,
 188,
 176,
 161,
 168,
 159,
 213,
 191,
 198,
 187,
 141,
 172,
 188,
 127,
 159,
 182,
 133,
 160,
 207,
 157,
 152,
 67,
 208,
 162,
 160,
 185,
 155,
 204,
 137,
 148,
 212,
 158,
 189,
 137,
 167,
 194,
 226,
 168,
 154,
 173,
 73,
 160,
 162,
 127,
 107,
 129,
 161,
 166,
 176,
 125,
 201,
 153,
 147,
 155,
 193,
 136,
 217,
 195,
 199,
 213,
 160,
 187,
 204,
 185,
 174,
 182,
 167,
 142,
 118,
 205,
 130,
 219,
 168,
 150,
 175,
 210,
 167,
 194,
 177,
 174,
 127,
 162,
 181,
 151,
 145,
 158,
 209,
 186,
 176,
 241,
 181,
 179,
 168,
 88,
 142,
 185,
 218,
 161,
 164,
 172,
 172,
 152,
 137,
 168,
 173,
 178,
 70,
 181,
 213,
 180,
 145,
 218,
 187,
 198,
 176,
 185,
 227,
 174,
 166,
 158,
 169,
 129,
 204,
 159,
 136,
 149,
 138,
 149,
 103,
 193,
 147,
 178,
 187,
 173,
 161,
 155,
 171,
 182,
 132,
 168,
 212,
 161,
 162,
 158,
 161,
 190,
 174,
 202,
 174,
 154,
 160,
 186,
 231,
 212,
 60,
 179,
 158,
 183,
 114,
 175,
 170,
 132,
 129,
 162,
 146,
 149,
 162,
 157,
 84,
 149,
 215,
 194,
 126,
 162,
 178,
 167,
 119,
 190,
 174,
 152,
 153,
 158,
 193,
 178,
 206,
 193,
 163,
 178,
 153,
 224,
 164,
 175,
 152,
 196,
 149,
 114,
 177,
 162,
 218,
 169,
 147,
 222,
 167,
 162,
 187,
 171,
 161,
 121,
 163,
 106,
 172,
 185,
 208,
 175,
 194,
 194,
 200,
 161,
 145,
 142,
 164,
 199,
 200,
 130,
 188]

In [11]:
total_score=df.groupby(['id','inning']).sum()['total_runs'].reset_index()

In [12]:
total_score

           id  inning  total_runs
0      335982       1         222
1      335982       2          82
2      335983       1         240
3      335983       2         207
4      335984       1         129
...       ...     ...         ...
1625  1237178       2         132
1626  1237180       1         189
1627  1237180       2         172
1628  1237181       1         156
1629  1237181       2         157

[1630 rows x 3 columns]

In [13]:
total_score_df=total_score[total_score['inning']==1]

In [14]:
total_score_df

           id  inning  total_runs
0      335982       1         222
2      335983       1         240
4      335984       1         129
6      335985       1         165
8      335986       1         110
...       ...     ...         ...
1620  1216547       1         201
1622  1237177       1         200
1624  1237178       1         131
1626  1237180       1         189
1628  1237181       1         156

[816 rows x 3 columns]

In [15]:
match_df=matches.merge(total_score_df[['id','total_runs']],left_on='id', right_on='id')

In [16]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [17]:
team = ['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals']

In [18]:
match_df['team1']= match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2']= match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1']= match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2']= match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1']= match_df['team1'].str.replace('Rising Pune Supergiant','Rising Pune Supergiants')
match_df['team2']= match_df['team2'].str.replace('Rising Pune Supergiant','Rising Pune Supergiants')

In [19]:
match_df=match_df[match_df['team1'].isin(team)]
match_df=match_df[match_df['team2'].isin(team)]

In [20]:
match_df.shape

(802, 18)

In [21]:
match_df= match_df[match_df['method']!='D/L']

In [22]:
match_df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,total_runs
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,222
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,240
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,129
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,165
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,201
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,200
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,131
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,189
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,156

In [23]:
match_df= match_df[['id','city','winner','total_runs']]

In [24]:
delivery=match_df.merge(df,on='id')
delivery = delivery.sort_values(by=['id', 'inning'])

In [25]:
delivery_df=delivery[delivery['inning']==2].reset_index()

In [26]:
delivery_df

,index,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,...,extra_runs,total_runs_y,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,...,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
1,122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,...,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
2,123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,...,1,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
3,124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,...,1,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
4,125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,...,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90815,187500,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
90816,187501,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
90817,187502,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
90818,187503,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,...,0,0,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals
90819,187504,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

In [27]:

delivery_df['total_runs_y'] = delivery_df.groupby('id')['total_runs_y'].cumsum()

In [28]:
delivery_df

,index,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,...,extra_runs,total_runs_y,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,...,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
1,122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,...,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
2,123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,...,1,2,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
3,124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,...,1,3,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
4,125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,...,0,3,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90815,187500,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,...,0,154,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
90816,187501,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,...,0,155,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
90817,187502,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,...,0,156,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
90818,187503,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,...,0,156,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals
90819,187504,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,...,0,157,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

In [29]:
delivery_df['runs_left']= delivery_df['total_runs_x'] - delivery_df['total_runs_y']

In [30]:
delivery_df['balls_left']=126 - (delivery_df['over']*6 + delivery_df['ball'])

In [31]:
delivery_df

,index,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,...,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,runs_left,balls_left
0,121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,222,88
1,122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,221,87
2,123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,...,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,220,86
3,124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,...,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,219,85
4,125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,219,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90815,187500,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,2,18
90816,187501,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,1,17
90817,187502,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,0,16
90818,187503,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,...,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,0,15
90819,187504,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,-1,14

In [32]:
wickets=delivery_df.groupby('id')['is_wicket'].cumsum().values

In [33]:
delivery_df['wickets_left']= 10- wickets
delivery_df

,index,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,...,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,runs_left,balls_left,wickets_left
0,121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,222,88,10
1,122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,221,87,10
2,123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,...,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,220,86,10
3,124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,...,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,219,85,10
4,125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,219,84,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90815,187500,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,2,18,6
90816,187501,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,1,17,6
90817,187502,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,0,16,6
90818,187503,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,...,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,0,15,5
90819,187504,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,-1,14,5

In [34]:
delivery_df['crr']= (delivery_df['total_runs_y']*6)/(120- delivery_df['balls_left'])

In [35]:
delivery_df['rrr']=  (delivery_df['runs_left']*6)/(delivery_df['balls_left'])

In [36]:
delivery_df

,index,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,...,player_dismissed,fielder,extras_type,batting_team,bowling_team,runs_left,balls_left,wickets_left,crr,rrr
0,121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,...,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,222,88,10,0.000000,15.136364
1,122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,...,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,221,87,10,0.181818,15.241379
2,123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,...,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,220,86,10,0.352941,15.348837
3,124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,...,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,219,85,10,0.514286,15.458824
4,125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,...,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,219,84,10,0.500000,15.642857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90815,187500,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,...,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,2,18,6,9.058824,0.666667
90816,187501,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,...,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,1,17,6,9.029126,0.352941
90817,187502,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,...,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,0,16,6,9.000000,0.000000
90818,187503,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,...,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,0,15,5,8.914286,0.000000
90819,187504,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,...,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,-1,14,5,8.886792,-0.428571

In [37]:
def result(row):
    return 1 if row['batting_team']== row['winner'] else 0

In [38]:
delivery_df['result']=delivery_df.apply(result, axis=1)

In [39]:
final_df=delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x','crr','rrr','result']]

In [40]:
delivery_df

,index,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,...,fielder,extras_type,batting_team,bowling_team,runs_left,balls_left,wickets_left,crr,rrr,result
0,121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,222,88,10,0.000000,15.136364,0
1,122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,221,87,10,0.181818,15.241379,0
2,123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,...,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,220,86,10,0.352941,15.348837,0
3,124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,...,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,219,85,10,0.514286,15.458824,0
4,125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,219,84,10,0.500000,15.642857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90815,187500,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,...,NaN,NaN,Mumbai Indians,Delhi Capitals,2,18,6,9.058824,0.666667,1
90816,187501,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,...,NaN,NaN,Mumbai Indians,Delhi Capitals,1,17,6,9.029126,0.352941,1
90817,187502,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,...,NaN,NaN,Mumbai Indians,Delhi Capitals,0,16,6,9.000000,0.000000,1
90818,187503,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,...,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,0,15,5,8.914286,0.000000,1
90819,187504,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,...,NaN,NaN,Mumbai Indians,Delhi Capitals,-1,14,5,8.886792,-0.428571,1

In [49]:
X= final_df.iloc[:,:-1]
y= final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=1)

In [42]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
37674,Sunrisers Hyderabad,Delhi Daredevils,Delhi,110,76,9,114,0.545455,8.684211
84808,Rajasthan Royals,Delhi Capitals,Sharjah,64,56,3,184,11.250000,6.857143
47303,Mumbai Indians,Sunrisers Hyderabad,NaN,165,124,9,172,-10.500000,7.983871
70813,Royal Challengers Bangalore,Kings XI Punjab,Bengaluru,107,82,8,155,7.578947,7.829268
62120,Gujarat Lions,Royal Challengers Bangalore,Bangalore,167,68,2,248,9.346154,14.735294
...,...,...,...,...,...,...,...,...,...
21440,Delhi Daredevils,Pune Warriors,Mumbai,179,115,10,187,9.600000,9.339130
73349,Delhi Daredevils,Chennai Super Kings,Pune,130,108,8,211,40.500000,7.222222
50057,Rajasthan Royals,Mumbai Indians,Ahmedabad,156,75,9,178,2.933333,12.480000
5192,Kings XI Punjab,Deccan Chargers,Chandigarh,120,34,9,175,3.837209,21.176471
77708,Sunrisers Hyderabad,Rajasthan Royals,Hyderabad,99,100,8,198,29.700000,5.940000

In [43]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf= ColumnTransformer([('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])],remainder='passthrough')

In [44]:
final_df.dropna(inplace=True)

C:\Users\ANTRIKSH RAJ\AppData\Local\Temp\ipykernel_5572\2709626079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [45]:
final_df=final_df[final_df['balls_left']!=0]
final_df=final_df[final_df['balls_left']!=120]
final_df['rrr'] = final_df['rrr'].apply(lambda x: min(x, 36))
final_df['crr'] = final_df['crr'].apply(lambda x: 0 if x<0 else x)

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [47]:
pipe= Pipeline(steps=[('step1',trf),
                     ('step2',LogisticRegression(solver='liblinear'))
                     ])

In [50]:
pipe.fit(X_train,y_train)

C:\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [ ]:
X_train

In [51]:
X_train.describe()

,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
count,70817.000000,70817.000000,70817.000000,70817.000000,70817.000000,70817.000000
mean,88.888487,68.306522,7.152590,164.255264,17.963783,10.164619
std,50.532959,33.192173,2.430714,28.759919,49.436716,8.468110
min,-6.000000,3.000000,0.000000,62.000000,0.000000,-4.000000
25%,48.000000,41.000000,6.000000,146.000000,4.129870,4.320000
50%,88.000000,69.000000,8.000000,164.000000,8.000000,8.108108
75%,127.000000,97.000000,9.000000,183.000000,14.318182,13.000000
max,259.000000,125.000000,10.000000,263.000000,1062.000000,36.000000

In [52]:
y_pred= pipe.predict(X_test)

In [53]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8225924879977408

In [54]:
pipe.predict_proba(X_test)[7]

array([0.33480713, 0.66519287])

In [55]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [57]:
delivery_df['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', nan, 'Rajkot', 'Kanpur', 'Bengaluru', 'Dubai',
       'Sharjah'], dtype=object)